.analitycs-page {
    background-color: var(--Background);
    height: 100vh;
}

.card-container {
    display: grid;
    width: 98%;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.chart-container {
    max-width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
