a {
	color: var(--LogoColor);
	text-decoration: none;
}
.header-container {
	display: flex;
	justify-content: space-between;
	margin: 16px 20px 7px 10px;
	height: 50px;
}

.header-container h2 {
	margin: auto 0px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	padding: 7px 20px 7px 20px;
	color: var(--LogoColor);
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo img {
	width: 50px;
	height: 50px;
}

.header .user {
	margin-right: 30px;
}
