a {
	color: var(--LogoColor);
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	padding: 7px 20px 7px 20px;
	color: var(--LogoColor);
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo img {
	width: 50px;
	height: 50px;
}

.header .user {
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

.header .user img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
}

.header .user-info .puesto {
	padding-top: 3px;
	font-size: 0.85rem;
	font-weight: 400;
}
