.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .display {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: auto;
  }

  .numeric-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: auto;
  }
  
  .numeric-keypad button {
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  