/* Para interfaz de Commandas (5 columnas) */
.table-display-5-header {
	display: grid;
	/* grid-template-columns: 18% 36% 20% 12% 13%; */ /* Original */
	grid-template-columns: 10% 25% 35% 20% 10%;
	gap: 6px;
}

.table-display-5-data {
	display: grid;
	grid-template-columns: 10% 25% 35% 20% 10%;
	gap: 6px;
}
/* -------------------------------------- */

/* Para interfaz de Inventario (7 columnas) */
.table-display-7-header {
	display: grid;
	grid-template-columns: 5% 25% 25% 11% 11% 11% 8%;
	gap: 5px;
}

.table-display-7-data {
	display: grid;
	grid-template-columns: 5% 25% 25% 12% 12% 12% 5%;
	gap: 5px;
}
/* -------------------------------------- */

.table-container {
	background-color: var(--white);
	height: 70%;
	width: 96%;
	margin: 0px 20px 35px;
	padding: 0px 0px 35px;
	border-radius: 12px;
	border: 1px solid rgba(0, 0, 0, 0.091);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.table {
	width: 100%;
	margin: 0px auto;
}

.table-header {
	color: var(--Dim-grey);
	background-color: var(--white-smoke);
	padding: 20px 20px 20px 20px;
	width: 100%;
	overflow: hidden;
	border-radius: 12px 12px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.table-header-text {
	color: var(--Dim-grey);
	font-weight: 600;
}

.data-container {
	overflow-y: auto;
	max-height: 50vh;
	overflow-x: hidden;
}

.info-table {
	font-size: 12px;
	border: 1px solid var(--white-smoke);
	padding: 10px 20px;
}

.info-table span {
	align-self: center;
	font-size: 0.85rem;
	font-weight: 500;
}

.center-info-table {
	text-align: center;
}
