.navbar-container {
	width: 80px;
}
.navbar {
	background-color: var(--white);
	width: 80px;
	padding: 15px;
	border-top: 1px solid #e9e7e7;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 100%;
	top: 5;
	left: 0;
	z-index: 999;
}

.navbar ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	list-style: none;
}

.navbar ul li {
	width: 24px;
	height: 24px;
}

.non-selected {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	transition: background-color 0.3s ease;
	border-radius: 100%;
	background-color: #f5f5f5;
	transition: all 0.3s linear;
}

.non-selected img {
	width: 24px;
	height: 24px;
}

.category-menu img {
	filter: brightness(200%);
	width: 24px;
	height: 24px;
}

.non-selected:hover {
	background-color: var(--SlateGray);
	filter: brightness(85%);
	transform: scale(1.08);
}

.non-selected:hover img {
	filter: brightness(200%);
}

.non-selected:active {
	background-color: var(--DarkSlateBlue);
}

.category-menu {
	background-color: var(--DarkSlateBlue);
}

@media (min-width: 427px) and (max-width: 769px) {
	.navbar {
		width: 10%;
		min-width: 80px;
	}

	.navbar ul li img {
		width: 25px;
		height: 25px;
	}

	.navbar ul .category-menu img {
		width: 25px;
		height: 25px;
	}

	.navbar ul .category-menu img {
		filter: brightness(200%);
	}
}
