a {
    text-decoration: none;
}

.menu-card {
    background-color: var(--white);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 240px;
    width: 240px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: -40px;
}

.menu-card:hover {
    transition: filter 0.5s ease;
    filter: brightness(85%);
}

.menu-card-image {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.menu-card-text {
    text-align: center;
    font-size: 1.05rem;
    font-weight: 500;
    margin-top: 15px;
    color: #294b69;
}

@media (max-width: 768px) {
    .menu-card {
        padding: 20px;
        height: 200px;
        width: 200px;
    }
    .menu-card-image {
        height: 120px;
    }
    .menu-card-text {
        font-size: 0.7rem;
    }
}
