.card {
    width: 100%;
    border: 1px solid var(--lightGray);
    border-radius: 15px;
    padding: 20px 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--darkGray);
    margin-bottom: 10px;
}

.card-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--darkGray);
    margin-bottom: 3px;
}

.card-data {
    font-size: 0.75rem;
    color: gray;
}
