.admin-page {
	height: 100vh;
	min-height: 100vh;
}

.menu-container {
	display: flex;
	gap: 20px;
	background-color: #f8f8f7;
}

.principal-container {
	margin-top: 2%;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	gap: 90px;
	max-height: 500px;
}
