.admin-page {
	background-color: #f8f8f7;
	height: 100vh;
}

.menu-container {
	display: flex;
	height: 90vh;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2%;
	gap: 90px;
	width: 95%;
}
