:root {
    --LightSlateGray: #6f8cae;
    --SlateGray: #587697;
    --DarkSlateBlue: #416180;
    --DarkSlateGray: #294b69;
    --DarkerSlateGray: #123552;
    --MidnightBlue: #0a1e2f;
    --LogoColor: #1a355c;
    --buttonBlue: #22345e;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
