.admin-page-container {
    background-color: #fbf5f1;
    width: 100%;
    height: 100vh;
}

.admin-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    color: var(--LogoColor);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: px;
    height: 50px;
}

.admin-page-header .user {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.admin-page-header .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-page-header .user-info .puesto {
    padding-top: 3px;
    font-size: 0.85rem;
    font-weight: 400;
}

/* Aside Menu */
.admin-page-aside {
    background-color: var(--white);
    width: 100px;
    height: 90vh;
    padding: 15px;
    border-top: 1px solid grey;
}

.admin-page-aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.admin-page-aside ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
}

.admin-page-aside ul li:hover {
    background-color: var(--DarkSlateBlue);
}

.admin-page-aside ul li:active {
    background-color: var(--DarkSlateGray);
}

.admin-page-aside ul .category-menu {
    background-color: var(--DarkSlateBlue);
}
